In [1]:
import pandas as p

In [5]:
df=p.read_csv('StudentPerformance.csv')

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB
None

In [9]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [11]:
df.tail()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [15]:
df.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [23]:
df.columns

Index(['Hours Studied', 'Previous Scores', 'Extracurricular Activities',
       'Sleep Hours', 'Sample Question Papers Practiced', 'Performance Index'],
      dtype='object')

In [25]:
df.shape

(10000, 6)

In [27]:
df.dropna()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [31]:
df.fillna(0)

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [33]:
df['Sleep Hours']

0       9
1       4
2       7
3       5
4       8
       ..
9995    4
9996    8
9997    8
9998    7
9999    8
Name: Sleep Hours, Length: 10000, dtype: int64

In [37]:
df[['Previous Scores' , 'Performance Index']]

      Previous Scores  Performance Index
0                  99               91.0
1                  82               65.0
2                  51               45.0
3                  52               36.0
4                  75               66.0
...               ...                ...
9995               49               23.0
9996               64               58.0
9997               83               74.0
9998               97               95.0
9999               74               64.0

[10000 rows x 2 columns]

In [41]:
df.isnull().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [43]:
df.max()

Hours Studied                           9
Previous Scores                        99
Extracurricular Activities            Yes
Sleep Hours                             9
Sample Question Papers Practiced        9
Performance Index                   100.0
dtype: object

In [45]:
df.min()

Hours Studied                          1
Previous Scores                       40
Extracurricular Activities            No
Sleep Hours                            4
Sample Question Papers Practiced       0
Performance Index                   10.0
dtype: object

In [49]:
df['Performance Index'].mean()

55.2248

In [51]:
df['Performance Index'].median()

55.0

In [53]:
df['Performance Index'].mode()

0    67.0
Name: Performance Index, dtype: float64

In [55]:
df['Performance Index'].std()

19.212557799463323

In [57]:
df.dtypes

Hours Studied                         int64
Previous Scores                       int64
Extracurricular Activities           object
Sleep Hours                           int64
Sample Question Papers Practiced      int64
Performance Index                   float64
dtype: object

In [81]:
p.get_dummies(df)

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index_10.0,Performance Index_11.0,Performance Index_12.0,Performance Index_13.0,Performance Index_14.0,Performance Index_15.0,...,Performance Index_93.0,Performance Index_94.0,Performance Index_95.0,Performance Index_96.0,Performance Index_97.0,Performance Index_98.0,Performance Index_99.0,Performance Index_100.0,Extracurricular Activities_No,Extracurricular Activities_Yes
0,7,99,9,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,4,82,4,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,8,51,7,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,5,52,5,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,7,75,8,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,49,4,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9996,7,64,8,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9997,6,83,8,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
9998,9,97,7,0,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
9999,7,74,8,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [164]:
df['Extracurricular_Activities_No'] = (df['Extracurricular Activities_No'].astype('category').cat.codes)
df

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index_10.0,Performance Index_11.0,Performance Index_12.0,Performance Index_13.0,Performance Index_14.0,Performance Index_15.0,...,Performance Index_94.0,Performance Index_95.0,Performance Index_96.0,Performance Index_97.0,Performance Index_98.0,Performance Index_99.0,Performance Index_100.0,Extracurricular Activities_No,Extracurricular Activities_Yes,Extracurricular_Activities_No
0,7,99,9,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,0,1,0
1,4,82,4,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,1,0,1
2,8,51,7,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,0,1,0
3,5,52,5,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,0,1,0
4,7,75,8,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,49,4,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,0,1,0
9996,7,64,8,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,0,1,0
9997,6,83,8,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,0,1,0
9998,9,97,7,0,False,False,False,False,False,False,...,False,True,False,False,False,False,False,0,1,0
9999,7,74,8,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,1,0,1

In [160]:
df['Extracurricular Activities_Yes'].replace({False: 0 , True : 1},inplace=True)
df

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index_10.0,Performance Index_11.0,Performance Index_12.0,Performance Index_13.0,Performance Index_14.0,Performance Index_15.0,...,Performance Index_94.0,Performance Index_95.0,Performance Index_96.0,Performance Index_97.0,Performance Index_98.0,Performance Index_99.0,Performance Index_100.0,Extracurricular Activities_No,Extracurricular Activities_Yes,Extracurricular_Activities_No
0,7,99,9,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,0
1,4,82,4,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,0,1
2,8,51,7,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,0
3,5,52,5,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,0
4,7,75,8,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,49,4,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,0
9996,7,64,8,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,0
9997,6,83,8,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,0
9998,9,97,7,0,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,1,0
9999,7,74,8,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,0,1

In [162]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Extracurricular Activities_No'] = le.fit_transform(df['Extracurricular Activities_No'])
df

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index_10.0,Performance Index_11.0,Performance Index_12.0,Performance Index_13.0,Performance Index_14.0,Performance Index_15.0,...,Performance Index_94.0,Performance Index_95.0,Performance Index_96.0,Performance Index_97.0,Performance Index_98.0,Performance Index_99.0,Performance Index_100.0,Extracurricular Activities_No,Extracurricular Activities_Yes,Extracurricular_Activities_No
0,7,99,9,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,0,1,0
1,4,82,4,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,1,0,1
2,8,51,7,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,0,1,0
3,5,52,5,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,0,1,0
4,7,75,8,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,49,4,2,False,False,False,False,False,False,...,False,False,False,False,False,False,False,0,1,0
9996,7,64,8,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,0,1,0
9997,6,83,8,5,False,False,False,False,False,False,...,False,False,False,False,False,False,False,0,1,0
9998,9,97,7,0,False,False,False,False,False,False,...,False,True,False,False,False,False,False,0,1,0
9999,7,74,8,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,1,0,1